@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    color: white;
}

#container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid black; */
    align-items: center;
}

.form-container {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

form {
    display: flex;
    /* gap: 2px; */
}

input {
    width: 450px;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}

button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid black;

}

button img {
    width: 20px;
    height: 20px;
}

.loading {
    visibility: hidden;
    width: 30px;
    margin-left: 10px;
}


.card {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
    font-size: 1.6rem;
}

.card div {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
}

.card div p {
    width: 4ch;
}

.card div img:nth-of-type(1) {
    width: 50px;
}

.card div img:nth-of-type(2) {
    width: 40px;
}

.card div img:nth-of-type(2):hover {
    cursor: pointer;
}
